h1 {
	font-family: helvetica;
	font-weight: 900;
	color: white;
	font-weight: 400;
}

body {
	margin: 40px;
	text-align: center;
	background-color: darkred;
}

#paint {
	height: 600px;
}

